# <mark style="background-color: cyan; padding: 0 1rem;">Update & Delete Data From Database</mark>

In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("app.db")

In [3]:
cr = db.cursor()

In [4]:
cr.execute("CREATE TABLE IF NOT EXISTS users(user_id INTEGER, user_name TEXT)")

In [5]:
cr.execute("INSERT INTO users(user_id, user_name) VALUES(1, 'Mustafa')")
cr.execute("INSERT INTO users(user_id, user_name) VALUES(2, 'Ahmed')")
cr.execute("INSERT INTO users(user_id, user_name) VALUES(3, 'Mohammed')")

In [10]:
db.commit()

## <mark style="background-color: #1050D1; color: white; padding: 0 1rem;">Update</mark>

In [15]:
cr.execute("UPDATE users SET user_name = 'Yousif'")

In [16]:
cr.execute("UPDATE users SET user_name = 'Ismail' WHERE user_id = 1")

In [17]:
cr.execute("SELECT * FROM users")

In [18]:
cr.fetchall()

[(1, 'Ismail'),
 (2, 'Yousif'),
 (3, 'Yousif'),
 (1, 'Ismail'),
 (2, 'Yousif'),
 (3, 'Yousif')]

## <mark style="background-color: #1050D1; color: white; padding: 0 1rem;">Delete</mark>

In [19]:
cr.execute("DELETE FROM users WHERE user_name = 'Yousif'")

In [20]:
cr.execute("SELECT * FROM users")

In [21]:
cr.fetchall()

[(1, 'Ismail'), (1, 'Ismail')]

### <mark style="background-color: #df2343;padding: 0 1rem; color: white;">Delete ALL</mark>

In [22]:
cr.execute("DELETE FROM users")

In [23]:
cr.execute("SELECT * FROM users")

In [24]:
cr.fetchall()

[]

In [25]:
db.commit()

In [30]:
db.close()