# <mark style="background-color: cyan; padding: 0 1rem;">Retrieve Data From Database</mark>

#### <mark style="padding: 0 1rem;">fetchone</mark> returns a single record or None if no more rows are available.
#### <mark style="padding: 0 1rem;">fetchall</mark> fetches all the rows of a query result. it returns all the rows as a list of tuples. an empty list is returned if there is no record to fetch
#### <mark style="padding: 0 1rem;">fetchmany(size)</mark>

In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("app.db")
cr = db.cursor()

In [3]:
cr.execute("CREATE TABLE IF NOT EXISTS users(user_id INTEGER, user_name TEXT)")
cr.execute("CREATE TABLE IF NOT EXISTS skills(skill_name TEXT, progress INTEGER, user_id INTEGER)")

In [4]:
cr.execute("INSERT INTO users(user_id, user_name) VALUES(1, 'Mustafa')")
cr.execute("INSERT INTO users(user_id, user_name) VALUES(2, 'Ahmed')")
cr.execute("INSERT INTO users(user_id, user_name) VALUES(3, 'Mohammed')")

In [5]:
db.commit()

## <mark style="background-color: #1050D1; color: white; padding: 0 1rem;">Fetching Data</mark>

### <mark style="background-color: #df2343;padding: 0 1rem; color: white;">fetchone Method</mark>

In [6]:
cr.execute("SELECT * FROM users")

In [7]:
cr.fetchone()

(1, 'Mustafa')

In [8]:
cr.fetchone()

(2, 'Ahmed')

In [9]:
cr.fetchone()

(3, 'Mohammed')

### <mark style="background-color: #df2343;padding: 0 1rem; color: white;">fetchall</mark>

In [11]:
cr.execute("SELECT * FROM users")

In [12]:
cr.fetchall()

[(1, 'Mustafa'), (2, 'Ahmed'), (3, 'Mohammed')]

### <mark style="background-color: #df2343;padding: 0 1rem; color: white;">fetchmany</mark>

In [14]:
cr.execute("SELECT * FROM users")

In [15]:
cr.fetchmany(2)

[(1, 'Mustafa'), (2, 'Ahmed')]

In [1]:
db.close()

NameError: name 'db' is not defined